#footer
    .fa
        font-size:  $font-size-base * 1.618 * 1.618
        color: $white
        transition: 0.3s all

        &:hover
            color: $blue
    
    .footer-secondary
        background: lighten($black,5%)